{% extends 'core/base.html' %}

{% block title %}Lista de Recetas{% endblock %}

{% block content %}
<a href="{% url 'crear_receta' %}" class="btn btn-primary mb-3">➕ Nueva receta</a>

{% if recetas %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for receta in recetas %}
        <div class="col">
            <div class="card">
                {% if receta.imagen %}
                <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.titulo }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ receta.titulo }}</h5>
                    <p class="card-text">{{ receta.descripcion|truncatewords:20 }}</p>
                    <a href="{% url 'detalle_receta' receta.id %}" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No hay recetas aún.</p>
{% endif %}
{% endblock %}
